PORT=5000
NODE_ENV=production
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/giftlife?retryWrites=true&w=majority
SESSION_SECRET=a-very-strong-production-session-secret-key-2026
